:root {
  --color-primary: #da3654;
  --color-text: #000;
  --color-text-2: #3c4856c2;
}

@font-face {
  font-family: 'Recoleta';
  src: url('fonts/Recoleta-SemiBold--subset.woff2')
  /* src: url('https://bejamas.io/fonts/recoleta/Recoleta-SemiBold--subset.woff2') */
    format('woff2');
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/p-vf.woff2')
  /* src: url('https://bejamas.io/fonts/p-vf.woff2') */
    format('woff2');
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: none;    
  }
}

html *,
html *::after,
html *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 100%/1.6 'Poppins', sans-serif;
}

:is(h1, h2) {
  font-family: 'Recoleta', 'Poppins';
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  max-width: min(90vw, 72rem);
  margin-inline: auto;
}

.section {
  /* padding: 4.65rem 0; */
  padding: 3rem 0;
}

.section-title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2.07474rem;
  font-weight: bold;
}

.pretitle {
  font-size: 0.875rem;
  margin: 0;
  margin-bottom: 2.325rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-text-2);
}

.title {
  margin: 0;
  /* font-size: 4.45rem; */
  font-size: 3.375rem;
  line-height: 1.2;
}

mark {
  background: linear-gradient(180deg, #feac0e, #da3654 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #0000;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(90deg, #f931c6 0, #dd6c68);
}

.text {
  max-width: fit-content;
  margin-bottom: 2.325rem;
  margin-top: 2.325rem;
  font-size: 1.25em;
  color: var(--color-text-2);
}

.button {
  border-radius: 28px;
  background-color: #da3654;
  background: linear-gradient(90deg, #da3654 0, #eb5295);
  color: #fff;
  padding: 0.8611rem 1.55rem 1.0333rem;
  -webkit-text-decoration: none;
  text-decoration: none;
  min-width: 9rem;
  display: inline-block;
  text-align: center;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-size: 1.125rem;
}

.blog-section {
  background-color: #f5f9fb;
}

.case-studies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 2rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (max-width: 660px) {
  .case-studies {
    grid-template-columns: 1fr;
  }
}

.casestudy {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .casestudy {
    flex-wrap: wrap;
  }
}

.casestudy h3 {
  margin: 0;
  font-size: 1.62671rem;
  color: var(--color-text);
}

.casestudy img {
  border-radius: 8px;
  height: 280px;
}

.casestudy p {
  color: var(--color-text-2);
}

.casestudy a {
  color: var(--color-primary);
  text-decoration: none;
}

.blogs {
  display: grid;
  padding: 0;
  margin: 0;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 660px) {
  .blogs {
    grid-template-columns: 1fr;
  }
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.blog h3 {
  margin: 0;
  font-size: 1.62671rem;
  color: var(--color-text);
}

.blog img {
  border-radius: 8px;
  width: 100%;
}

.blog p {
  margin: 0;
  color: var(--color-text-2);
}

.blog a {
  color: var(--color-primary);
  text-decoration: none;
}

.faq-container {
}


img {
  display: block;
  max-width: 100%;
}

header {
  padding: 2.325rem 1.0333rem;  
}

header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: min(90vw, 87.5rem);
}

.logo svg {
  display: block;
  max-width: 9.3rem;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;    
}

nav a {
  color: var(--color-text);
  padding: 0 1.0333rem;
  text-decoration: none;
}

.testimonials {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  :is(img) {
  border-radius: 16px;
  }

  & li {
    position: relative;
  }

  .index-logo {
    position: absolute;
    inset: auto auto 2rem 2rem;
    background: linear-gradient(90deg,#eae5fa 0,#b8ebf1);
    color: #000;
    padding: 0.8rem 1rem;
    font-size: .875rem;
    min-width: 0;       
    border-radius: 3px;
    line-height: 0;
    
    & img,
    & svg {
      width: 100px;
      height: auto;
      border-radius: 0;
    }
  }
}

.testimonial {
  display: grid;
  grid-template-columns: 240px auto;
  gap: 3.1rem
}

blockquote {
  border-radius: 16px;
  display: block;
  position: relative;
  border: 0;
  margin: 0 0 1.55rem;
  padding: 2.325rem 6.2rem 3.1rem 4.65rem;
  background: linear-gradient(to bottom,#e3eef4 0,#e3eef41a 85%);

  &::before {
    content: "’’";
    font-size: 20rem;
    font-family: ui-serif;
    position: absolute;
    right: 1rem;
    top: -11.5rem;
    -webkit-letter-spacing: -1.75rem;
    -moz-letter-spacing: -1.75rem;
    -ms-letter-spacing: -1.75rem;
    letter-spacing: -1.75rem;
    color: #e3eef4;
    pointer-events: none;
  }

  & p {
    font-size: 1.55rem;
    margin-top: 0;
  }

  & footer {
    color: #3c4856c2;
    font-weight: 700;
    display: flex;
    gap: 1.55rem;
    align-items: center;
    margin-top: 2.325rem;
  }

  & footer img {
    overflow: hidden;
    border-radius: 100%;
    flex: 0 0 auto;
    display: inline-flex;
    width: 60px;
    height: 60px;
  }

  & footer span {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  & footer cite {
    display: block;
    font-size: 1rem;
    font-weight: 400;
  }
}

@media(min-width: 768px) {
  blockquote::before {
    right: -3rem;
  }
}

.stats {
  display: flex;
  justify-content: space-around;
  max-width: 40rem;
  margin: 1.55rem auto 3.1rem;
  text-align: center;
  gap: 1.55rem;

  .key {
    color: #3c4856c2;
    margin: 0;    
  }
  
  .value {
    font-size: 2.25rem;
    color: #3c4856c2;
    margin: 0 0 0.5rem;
  }
}

.detail-logo img {
  margin-bottom: 2rem;
}


.info {
  margin-top: 1.55rem;

  :is(svg) {
    max-width: 170px;
    width: 100%;
    height: auto;
    margin-bottom: 1.55rem;
  }

  .info-title {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 .5167rem;
    color: #3c4856c2;
    font-size: .875rem;
    letter-spacing: .1875rem;
  }

  .info-value {
    font-size: 1.125rem;
    margin: 0 0 1.55rem;
  }

  .button {
    background: linear-gradient(90deg,#eae5fa 0,#b8ebf1);
    color: #000;
    padding: 0.62rem 1.0333rem;
    font-size: .875rem;
    min-width: 0;    
  }
}


/* Case study styles */
.case-study {
  .container {
    padding: 3rem 0;
    max-width: 1152px;
  }

  :is(h3) {
    font-family: 'Recoleta', 'Poppins';
    font-size: 1.62671rem;
    line-height: 1.33;
  }
  
  :is(h2) {
    font-size: 2.074rem;
    line-height: 1.33;
  }

  .meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 0 3.1rem;
    margin: 0 0 3.1rem;
    border-bottom: 2px solid #f5f9fb;    
  }

  .date {
    font-size: .875rem;
    margin: 0;
    text-transform: uppercase;
    color: var(--color-text-2);
  }

  .post-title {
    margin: 1rem 0;
    font-size: 3.375rem;
    line-height: 1.2;
  }

  .description {
    max-width: 28.75rem;
    margin: 1rem 0;
    font-size: 1.25em;
    color: var(--color-text-2);
  }

  .author {
    font-size: .875rem;
    margin: 0;
    margin-bottom: 2.325rem;
    color: var(--color-text);
  }

  .author-name {
    font-weight: 700;
  }

  .poster {
    display: block;
    max-width: 445px;
    width: 100%;
    border-radius: 16px;
  }

  .body {
    max-width: 42.5rem;
    margin-inline: auto;
    color: #3c4856;

    :is(a) {
      color: #da3654;
      text-decoration: none;
    }
  }

  .body :is(h1,h2,h3) {
    color: var(--color-text);
  }

  & figure {
    margin-inline: 0;
  }

  & img {
    width: 100%;
    border-radius: 12px;
  }

  & iframe {
    height: 450px !important;
  }
}